<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>Cryptograph</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="column">
        <h2>Notes</h2>

        <a href="/addNote"><button>Add Note</button></a>

        <div th:each="note: ${decryptedNotes}">
            <form method="POST" th:action="@{/viewNote}">
                <input type="hidden" name="CSRFToken" th:value="${CSRFToken}">
                <input type="hidden" name="noteId" th:value="${note.dbfNoteId}"/>

                <div class="row element-info">
                    <button type="submit">View</button>
                    <h3 th:text="${note.dbfNoteName}"></h3>
                </div>
            </form>
        </div>

        <div class="navigation">
            <div class="row">
                <a href="/">Accounts</a>
                <a href="/notes">Notes</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <h4 class="prototype">PROTOTYPE</h4>
    </div>
</body>
</html>
