<!DOCTYPE html>

<!--suppress HtmlUnknownTarget, HtmlFormInputWithoutLabel -->
<html lang="en">
<head>
    <title>Cryptograph</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="column">
        <h2>Add Account</h2>

        <form id="account-form" method="POST" th:action="@{/addAccount}">
            <input id="csrf-token" type="hidden" name="CSRFToken" th:value="${CSRFToken}">

            <input id="account-name" type="text" name="accountName" placeholder="Account Name">

            <input id="account-username" type="text" name="accountUsername" placeholder="Account Username">

            <input id="account-password" type="password" name="accountPassword" placeholder="Account Password">

            <button type="submit">SAVE</button>
        </form>

        <div class="navigation">
            <div class="row">
                <a href="/">Accounts</a>
                <a href="/notes">Notes</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <h4 class="information-message hidden" id="information-message"></h4>

        <h4 class="prototype">PROTOTYPE</h4>

        <script th:inline="javascript">
            var messageOne = /*[[${messageOne}]]*/ "EMPTY";
            var messageTwo = /*[[${messageTwo}]]*/ "EMPTY";
            var messageThree = /*[[${messageThree}]]*/ "EMPTY";
        </script>

        <script src="/js/addAccount.js"></script>
    </div>
</body>
</html>
